$lightFont: avenirLight;
$mediumFont: avenirMedium;
$blackFont: avenirBlack;

@font-face {
    font-family: avenirLight;
    src: url(/assets/fonts/avenir-lt-35-light.ttf);
}

@font-face {
    font-family: avenirMedium;
    src: url(/assets/fonts/avenir-lt-65-medium.ttf);
}

@font-face {
    font-family: avenirBlack;
    src: url(/assets/fonts/avenir-lt-std-95-black.otf);
}

.appContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row;
    background: #F0F5Fa;
    font-family: $mediumFont;
    .navBar {
        width: 100%;
        height: 13.3%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: pink;
        font-size: 15px;
        font-family: $blackFont;
        .navBarLogo {
            width: 68.352px;
            height: 41.0914px;
        }
        .navBarHome {
            margin-left: 5px;
        }
        .navBarSearch {
            margin-left: 5px;
        }
        .navBarAdvertise {
            margin-left: 5px;
        }
        .navBarAboutUs {
            margin-left: 5px;
        }
    }
}