<div class="wrapper" (scroll)="onScroll()">
    <app-navbar [active]="active"></app-navbar>
    <div class="categoriesContent">
        <div class="categoryPicture">
            <div class="overlay">
                <img [src]="categoryBanner" alt="" srcset="">
            </div>
            <div class="categoryTitle">{{ category }}</div>
        </div>
        <div class="filterContainer">
            <app-cards-filter (filter)="loadShopsByCategory(getCategory(), $event)"></app-cards-filter>
        </div>
        <div class="companiesContainer">
            <app-company-card *ngFor="let shop of shops; let i = index" [shopId]="shop.id" [companyLogo]="shop.logo" [companyName]="shop.name" [companyPhoto]="shop.banner"></app-company-card>
        </div>
        <div class="footerContainer">
            <app-footer></app-footer>
        </div>
    </div>
</div>