$lightFont: avenirLight;
$mediumFont: avenirMedium;
$blackFont: avenirBlack;
$fontColor: #000000;
$activeFontColor: #6ca7b6;
$backgroundColor: #f0f5fa;
$cardsBGColor: white;
$successMessage: #03d755;
$failureMessage: #dd3444;
$titleSize: 150px;
$searchBarFontSize: 48px;
$subtitleSize: 43px;
$cardsFontSize: 30px;
$categoryCardFontSize: 23.7px;
$filterFontSize: 21px;
$infoCardFontSize: 19px;
$navbarFontSize: 15px;
$footerFontSize: 12px;
$borderRadiusCards: 32px;
$maxWidth: 1200px;

@font-face {
    font-family: avenirLight;
    src: url(/assets/fonts/avenir-lt-35-light.ttf);
}

@font-face {
    font-family: avenirMedium;
    src: url(/assets/fonts/avenir-lt-65-medium.ttf);
}

@font-face {
    font-family: avenirBlack;
    src: url(/assets/fonts/avenir-lt-std-95-black.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    width: 100vw;
    background: $backgroundColor;
    justify-content: center;
}
.categoriesContent {
    width: 100vw;
    max-width: $maxWidth;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: $mediumFont;
    color: $fontColor;
    app-navbar {
        width: 100%;
        height: 110px;
        position: relative;
    }
    .categoryPicture {
        width: $maxWidth;
        height: 480px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: magenta;
        background-image: url('/assets/img/categoryBeauty.svg');
        background-repeat: no-repeat;
        background-size: cover;
        //background: linear-gradient(0deg, rgba(240,245,240,0.5) 0%, rgba(240,245,240,0.5) 100%);
        .categoryTitle {
            position: absolute;
            font-family: $blackFont;
            font-size: 150px;
        }
    }
    .filterContainer {
        width: 76.1%;
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 25px 0;
        app-cards-filter {
            .cardsFilterContainer {
                :ng-deep .cardsFilterOptionsContainer {
                    top: 565px !important;
                }
            }
        }
    }
    .companiesContainer {
        width: 76.1%;
        display: grid;
        column-gap: 12px;
        row-gap: 25px;
        grid-template-columns: repeat(2, 50%);
        app-company-card {
            width: 100%;
            height: 235px;
        }
    }
    .footerContainer {
        width: 100%;
        margin-top: 3%;
    }
}
