<div class="categoriesContainer">
    <div class="navBarContainer">
        <app-navbar></app-navbar>
    </div>
    <div class="contentWrapper">
        <div class="categoryPicture">
            <!-- <img src="/assets/img/categoryBeauty.svg" alt="" srcset=""> -->
            <div class="categoryTitle">Belleza</div>
        </div>
        <div class="filterContainer">
            <app-cards-filter></app-cards-filter>
        </div>
    </div>
    <div class="footerContainer">
        <app-footer></app-footer>
    </div>
</div>