<div class="wrapper" (scroll)="onScroll()">
    <app-navbar [active]="active"></app-navbar>
    <div class="categoriesContent">
        <div class="categoryPicture">
            <img src="/assets/img/categoryBeauty.svg" alt="" srcset="">
            <div class="categoryTitle">{{ title }}</div>
        </div>
        <div class="filterContainer">
            <app-cards-filter></app-cards-filter>
        </div>
        <div class="companiesContainer">
            <app-company-card *ngFor="let company of companies; let i = index" [companyLogo]="company.companyLogo"
                [companyName]="company.companyName" [companyPhoto]="company.companyPhoto"></app-company-card>
        </div>
        <div class="footerContainer">
            <app-footer></app-footer>
        </div>
    </div>
</div>