<div class="appContainer">
    <div class="navBarContainer">
        <app-navbar [active]="active"></app-navbar>
    </div>
    <div class="carouselContainer"></div>
    <div class="categoriesContainer">
        <div class="categoriesTitle">
            Categorías
        </div> 
        <div class="categoriesCards">
            <div class="categoryCardContainer">
                <div class="categoryCardPicture">
                    <img src="/assets/img/categoryCardPicture1.svg" alt="" srcset="">
                </div>
                <div class="categoryCardBG"></div>
            </div>
            <div class="categoryCardContainer">
                <div class="categoryCardPicture"></div>
                <div class="categoryCardBG"></div>
            </div>
            <div class="categoryCardContainer">
                <div class="categoryCardPicture"></div>
                <div class="categoryCardBG"></div>
            </div>
            <div class="categoryCardContainer">
                <div class="categoryCardPicture"></div>
                <div class="categoryCardBG"></div>
            </div>
        </div>
        
    </div>
    <div class="companiesContainer">
        <div class="companiesTitle">
            Emprendimientos
        </div>
        <div class="companiesCardContainer">
            <div class="companyCard">
                <div class="companyInfo">
                    <div class="companyLogo"></div>
                    Empresa
                </div>
                <div class="companyPhoto"></div> 
            </div>
            <div class="companyCard">
                <div class="companyInfo">
                    <div class="companyLogo"></div>
                    Empresa 2
                </div>
                <div class="companyPhoto"></div> 
            </div>
        </div> 
    </div>
</div>