<div class="appContainer">

    <div class="navBarContainer">
        <app-navbar [active]="active"></app-navbar>
    </div>
    <div class="carouselContainer">
        <carousel [cellWidth]="'100%'" [dots]="true" [loop]="true" [height]="452" [arrowsOutside]="false">
            <div class="carousel-cell" >
                <img [src]="imagenesCarousel[0]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenesCarousel[1]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenesCarousel[2]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenesCarousel[3]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenesCarousel[4]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenesCarousel[5]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenesCarousel[6]" alt="Random first slide">
            </div>        
        </carousel>
    </div>
    <div class="categoriesContainer">
        <div class="categoriesTitle">
            Categorías
        </div> 
        <div class="categoriesCards">
            <div class="categoryCardContainer">
                <div class="categoryCardPicture">
                    <img src="/assets/img/categoryCardPicture1.svg" alt="" srcset="">
                </div>
                <div class="categoryCardBG">
                    <div class="categoryName">Belleza</div>
                </div>
            </div>
            <div class="categoryCardContainer">
                <div class="categoryCardPicture">
                    <img src="/assets/img/categoryCardPicture2.svg" alt="" srcset="">
                </div>
                <div class="categoryCardBG">
                    <div class="categoryName">Moda</div>
                </div>
            </div>
            <div class="categoryCardContainer">
                <div class="categoryCardPicture">
                    <img src="/assets/img/categoryCardPicture3.svg" alt="" srcset="">
                </div>
                <div class="categoryCardBG">
                    <div class="categoryName">Tecnología</div>
                </div>
            </div>
            <div class="categoryCardContainer">
                <div class="categoryCardPicture">
                    <img src="/assets/img/categoryCardPicture4.svg" alt="" srcset="">
                </div>
                <div class="categoryCardBG">
                    <div class="categoryName">Hogar</div>
                </div>
            </div>
        </div>
    </div>
    <div class="companiesContainer">
        <div class="companiesTitle">
            Emprendimientos
        </div>
        <carousel [arrowsOutside]="true" [overflowCellsLimit]='2'>
            <div class="carousel-cell" >
                <img [src]="imagenes[0]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[1]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[2]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[3]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[4]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[5]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[6]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[7]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[8]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[9]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[10]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[11]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[12]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[13]" alt="Random first slide">
            </div>
            
        </carousel>
        <!--<div class="companiesCardContainer">
            <div class="companyCard">
                <div class="companyInfo">
                    <div class="companyLogo"></div>
                    Empresa
                </div>
                <div class="companyPhoto"></div> 
            </div>
            <div class="companyCard">
                <div class="companyInfo">
                    <div class="companyLogo"></div>
                    Empresa 2
                </div>
                <div class="companyPhoto"></div> 
            </div>
        </div>-->
    </div> 
    <div class="companiesContainer">
        <div class="companiesTitle">
            Empresas
        </div>
        <carousel [arrowsOutside]="true" [cellsToShow]="2">
            <!--<div class="carousel-cell" >
                <img [src]="imagenes[0]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[1]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[2]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[3]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[4]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[5]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[6]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[7]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[8]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[9]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[10]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[11]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[12]" alt="Random first slide">
            </div>
            <div class="carousel-cell">
                <img [src]="imagenes[13]" alt="Random first slide">
            </div>-->
            <div class="carousel-cell">
                <div class="companyCard">
                    <div class="companyInfo">
                        <div class="companyLogo"></div>
                        Empresa
                    </div>
                    <div class="companyPhoto"></div> 
                </div>
            </div>
            <div class="carousel-cell">
                <div class="companyCard">
                    <div class="companyInfo">
                        <div class="companyLogo"></div>
                        Empresa2
                    </div>
                    <div class="companyPhoto"></div> 
                </div>
            </div>
            <div class="carousel-cell">
                <div class="companyCard">
                    <div class="companyInfo">
                        <div class="companyLogo"></div>
                        Empresa3
                    </div>
                    <div class="companyPhoto"></div> 
                </div>
            </div>
            <div class="carousel-cell">
                <div class="companyCard">
                    <div class="companyInfo">
                        <div class="companyLogo"></div>
                        Empresa4
                    </div>
                    <div class="companyPhoto"></div> 
                </div>
            </div>
            <div class="carousel-cell">
                <div class="companyCard">
                    <div class="companyInfo">
                        <div class="companyLogo"></div>
                        Empresa4
                    </div>
                    <div class="companyPhoto"></div> 
                </div>
            </div>
            <div class="carousel-cell">
                <div class="companyCard">
                    <div class="companyInfo">
                        <div class="companyLogo"></div>
                        Empresa4
                    </div>
                    <div class="companyPhoto"></div> 
                </div>
            </div>
            <div class="carousel-cell">
                <div class="companyCard">
                    <div class="companyInfo">
                        <div class="companyLogo"></div>
                        Empresa4
                    </div>
                    <div class="companyPhoto"></div> 
                </div>
            </div>
            <div class="carousel-cell">
                <div class="companyCard">
                    <div class="companyInfo">
                        <div class="companyLogo"></div>
                        Empresa4
                    </div>
                    <div class="companyPhoto"></div> 
                </div>
            </div>
            
            
        </carousel>
        <!--<div class="companiesCardContainer">
            <div class="companyCard">
                <div class="companyInfo">
                    <div class="companyLogo"></div>
                    Empresa
                </div>
                <div class="companyPhoto"></div> 
            </div>
            <div class="companyCard">
                <div class="companyInfo">
                    <div class="companyLogo"></div>
                    Empresa 2
                </div>
                <div class="companyPhoto"></div> 
            </div>
        </div>-->
    </div>

    <div class="footerContainer">
        <app-footer></app-footer>
    </div> 
</div>
