<div class="wrapper">
    <app-navbar [active]="active"></app-navbar>
    <div class="content">
        <div class="carouselContainer">
            <carousel [cellWidth]="'100%'" [autoplay]="true" [dots]="false" [loop]="true" [height]="422" [arrowsOutside]="false" [autoplayInterval]="3000">
                <div class="carousel-cell" *ngFor="let company of companies; let i = index">
                    <img [routerLink]="'/shop/' + company.id" [src]="company.banner" alt="Random first slide">
                </div>
            </carousel>
        </div>
        <div class="categoriesContainer">
            <div class="categoriesTitle">
                Categorías
            </div>
            <div class="categoriesCards">
                <div class="categoryCardContainer" (click)="loadCategoryPage('Belleza')">
                    <div class="categoryCardPicture">
                        <img src="/assets/img/categoryCardPicture1.svg" alt="" srcset="">
                    </div>
                    <div class="categoryCardBG">
                        <div class="categoryName">Belleza</div>
                    </div>
                </div>
                <div class="categoryCardContainer" (click)="loadCategoryPage('Moda')">
                    <div class="categoryCardPicture">
                        <img src="/assets/img/categoryCardPicture2.svg" alt="" srcset="">
                    </div>
                    <div class="categoryCardBG">
                        <div class="categoryName">Moda</div>
                    </div>
                </div>
                <div class="categoryCardContainer" (click)="loadCategoryPage('Tecnología')">
                    <div class="categoryCardPicture">
                        <img src="/assets/img/categoryCardPicture3.svg" alt="" srcset="">
                    </div>
                    <div class="categoryCardBG">
                        <div class="categoryName">Tecnología</div>
                    </div>
                </div>
                <div class="categoryCardContainer" (click)="loadCategoryPage('Hogar')">
                    <div class="categoryCardPicture">
                        <img src="/assets/img/categoryCardPicture4.svg" alt="" srcset="">
                    </div>
                    <div class="categoryCardBG">
                        <div class="categoryName">Hogar</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contentWrapper">
            <div class="companiesTitle">
                Emprendimientos
            </div>
            <div class="companiesContainer">
                <carousel [arrowsOutside]="true" [margin]="12" [cellsToShow]="2" [height]="235">
                    <div class="carousel-cell" *ngFor="let venture of ventures; let i = index">
                        <app-company-card [shopId]="venture.id" [companyLogo]="venture.logo" [companyName]="venture.name"
                            [companyPhoto]="venture.banner"></app-company-card>
                    </div>
                </carousel>
            </div>
        </div>
        <div class="contentWrapper">
            <div class="companiesTitle">
                Empresas
            </div>
            <div class="companiesContainer">
                <carousel [arrowsOutside]="true" [margin]="12" [cellsToShow]="2" [height]="235">
                    <div class="carousel-cell" *ngFor="let enterprise of enterprises; let i = index">
                        <app-company-card [shopId]="enterprise.id" [companyLogo]="enterprise.logo" [companyName]="enterprise.name" 
                            [companyPhoto]="enterprise.banner"></app-company-card>
                    </div>  
                </carousel>
            </div>
        </div>
        <div class="footerContainer">
            <app-footer></app-footer>
        </div>
    </div>
</div>