$lightFont: avenirLight;
$mediumFont: avenirMedium;
$blackFont: avenirBlack;
$fontColor: #000000;
$activeFontColor: #6ca7b6;
$backgroundColor: #f0f5fa;
$cardsBGColor: white;
$titleSize: 150px;
$subtitleSize: 43px;
$cardsFontSize: 30px;
$categoryCardFontSize: 23.7px;
$navbarFontSize: 15px;
$footerFontSize: 12px;
$borderRadiusCards: 32px;
$itemGrow: 1.2;
$duration: 250ms;

@font-face {
    font-family: avenirLight;
    src: url(/assets/fonts/avenir-lt-35-light.ttf);
}

@font-face {
    font-family: avenirMedium;
    src: url(/assets/fonts/avenir-lt-65-medium.ttf);
}

@font-face {
    font-family: avenirBlack;
    src: url(/assets/fonts/avenir-lt-std-95-black.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.appContainer {
    width: 100vw;
    height: 215vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: $backgroundColor;
    font-family: $mediumFont;
    .navBarContainer {
        width: 100%;
        height: 13.3%;
    }
    .carouselContainer {
        width: 100%;
        height: 50%;
        margin-top: 6.8%;
        display: flex;
        justify-content: center;
        align-items: center;
        carousel {
            z-index: 1;
            .carousel-cell {
                img {
                    width: auto;
                    display: block;
                    margin: 0 auto;
                    border-radius: $borderRadiusCards;
                }
            }
        }
    }
    .categoriesContainer {
        width: 76.1%;
        height: 50%;
        margin-top: 2%;
        .categoriesTitle {
            font-size: $subtitleSize;
            font-family: $blackFont;
        }
        .categoriesCards {
            width: 100%;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            margin-top: 20px;
            .categoryCardContainer {
                width: 24%;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 20% 80%;
                justify-items: center;
                cursor: pointer;
                .categoryCardPicture {
                    width: 80%;
                    border-radius: 32px;
                    grid-column: 1;
                    grid-row: 1 / 2;
                    z-index: 1;
                }
                .categoryCardBG {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    border-radius: $borderRadiusCards;
                    grid-column: 1;
                    grid-row: 2 / 2;
                    background: radial-gradient(circle at 50%, #b4e9fc, #ffffff 75%);
                    .categoryName {
                        font-family: $blackFont;
                        font-size: $categoryCardFontSize;
                        margin-bottom: 9%;
                    }
                }
            }
        }
    }
    .contentWrapper {
        width: 76.1%;
        height: 100%;
        margin-top: 2%;
        .companiesTitle {
            font-size: $subtitleSize;
            font-family: $blackFont;
        }
        .companiesContainer {
            width: 100%;
            height: 40.7%;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            margin-top: 20px;
            carousel {
                width: 100%;
                height: 100%;
                z-index: 1;
                .carousel-cell {
                    width: 100%;
                    height: 100%;
                    app-company-card {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .footerContainer {
        width: 100%;
        height: 100%;
        margin-top: 1%;
    }
}
