$lightFont: avenirLight;
$mediumFont: avenirMedium;
$blackFont: avenirBlack;
$fontColor: #000000;
$activeFontColor: #6ca7b6;
$backgroundColor: #f0f5fa;
$cardsBGColor: white;
$titleSize: 150px;
$subtitleSize: 43px;
$cardsFontSize: 30px;
$categoryCardFontSize: 23.7px;
$navbarFontSize: 15px;
$footerFontSize: 12px;
$maxWidth: 1200px;

.navBar {
    width: 100%;
    max-width: $maxWidth;
    height: 110px;
    position: fixed;
    display: flex;
    justify-content: center;
    background: $backgroundColor;
    font-size: $navbarFontSize;
    font-family: $blackFont;
    margin-left: -15px;
    z-index: 999;
    .navTabs {
        width: 88.7%;
        align-items: center;
        justify-content: space-between;
        li a {
            color: $fontColor;
            text-decoration: none;
        }
        .active {
            color: $activeFontColor !important;
        }
        .navBarLogo {
            width: 68.352px;
            height: 41.0914px;
            cursor: pointer;
        }
        .navBarOption {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
