<div class="navBar">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="navTabs">
        <li class="navBarLogo" (click)="goToHome()">
            <a><img src="/assets/img/cavaNavBarLogo.svg" alt="" srcset=""></a>
        </li>
        <li [ngbNavItem]="1" id="navBarHome" class="navBarOption" (click)="goToHome()">
            <a ngbNavLink>Inicio</a>
        </li>
        <li [ngbNavItem]="2" id="navBarSearch" class="navBarOption" (click)="goToSearch()">
            <a ngbNavLink>Buscar</a>
        </li>
        <li [ngbNavItem]="3" id="navBarAdvertise" class="navBarOption">
            <a ngbNavLink>Anúnciate</a>
        </li>
        <li [ngbNavItem]="4" id="navBarAboutUs" class="navBarOption" (click)="goToAboutUs()">
            <a ngbNavLink>Sobre nosotros</a>
        </li>
        <li [ngbNavItem]="5" id="navBarLogin" class="navBarOption" (click)="goToLogin()">
            <a ngbNavLink>Login</a>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
</div>
