$lightFont: avenirLight;
$mediumFont: avenirMedium;
$blackFont: avenirBlack;
$fontColor: #000000;
$activeFontColor: #6ca7b6;
$backgroundColor: #f0f5fa;
$cardsBGColor: white;
$titleSize: 150px;
$subtitleSize: 43px;
$cardsFontSize: 30px;
$categoryCardFontSize: 23.7px;
$infoCardFontSize:19px;
$navbarFontSize: 15px;
$footerFontSize: 12px;
$borderRadiusCards: 32px;

.brandCard{
    width: 100%;
    height: 100%;
    display: flex;
    .companyInfo{
        display: flex;
        flex-flow: column;
        flex: 1;
        background: white;
        border-radius: $borderRadiusCards 0 0 $borderRadiusCards;
        padding: 10px;
        align-items: center;
        justify-content: center;
        .companyLogo {
            width: 60%;
            img {
                
                // border-radius: $borderRadiusCards;
                object-fit: fill;
            }
        }
        .companyName {
            font-size: $categoryCardFontSize;
            text-align: center;
        }
    }
    .companyPhoto {
        flex: 1;
        background: white;
        border-radius: 0 $borderRadiusCards $borderRadiusCards 0;
        background-size: cover;
        background-clip: border-box;
    }
}

