<div class="cardsFilterContainer">
    <div class="cardsFilter" (click)="dropDownOptions()">
        <div class="optionTextSelected">Principales</div>
        <img class="chevronIcon" src="/assets/img/chevronIcon.svg" alt="" srcset="">
    </div>
    <div class="cardsFilterOptionsContainer">
        <ul class="cardsFilterOptions">
            <li class="" (click)="filterOptionClicked(1)">
                <div class="optionLine">
                    <div class="optionText">Principales</div>
                </div>
            </li>
            <li class="" (click)="filterOptionClicked(2)">
                <div class="optionLine">
                    <div class="optionText">Todos A-Z</div>
                </div>
            </li>
            <li class="" (click)="filterOptionClicked(3)">
                <div class="optionLine">
                    <div class="optionText">Empresas</div>
                </div>
            </li>
            <li class="" (click)="filterOptionClicked(4)">
                <div class="optionLine">
                    <div class="optionText">Emprendimientos</div>
                </div>
            </li>
            <li class="" (click)="filterOptionClicked(5)">
                <div class="optionLine">
                    <div class="optionText">Menor precio</div>
                </div>
            </li>
            <li class="" (click)="filterOptionClicked(6)">
                <div class="optionLine">
                    <div class="optionText">Mayor precio</div>
                </div>
            </li>
        </ul>
    </div>
</div>