<div class="registerContainer">
    <div class="navBarContainer">
        <app-navbar [active]="active"></app-navbar>
    </div>
    <div class="registerFormContainer">
        <div class="registerTitle">REGISTRO</div>
        <div class="registerForm">
            <div class="registerMessage">
                <div id="successRegister" class="successRegister">Registro exitoso</div>
                <div id="emailTaken" class="emailTaken">Este correo electrónico ya está registrado</div>
                <div id="passwordsDontMatch" class="emailTaken">Las contraseñas no coinciden</div>
            </div>
            <div class="registerFields">
                <form [formGroup]="ngForm">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="text" placeholder="Nombre" formControlName="name"
                                [ngClass]="ngForm.controls['name'].invalid ? 'is-invalid' : ''" required>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input class="input" type="text" placeholder="Apellido" formControlName="lname"
                                [ngClass]="ngForm.controls['lname'].invalid ? 'is-invalid' : ''" required>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input class="input" type="email" placeholder="Correo electrónico" formControlName="email"
                                [ngClass]="ngForm.controls['email'].invalid ? 'is-invalid' : ''" required>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input class="input" type="password" placeholder="Contraseña" formControlName="password"
                                [ngClass]="ngForm.controls['password'].invalid ? 'is-invalid' : ''" required>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input class="input" type="password" placeholder="Confirma tu contraseña"
                                formControlName="confirmPassword"
                                [ngClass]="ngForm.controls['confirmPassword'].invalid ? 'is-invalid' : ''" required>
                        </p>
                    </div>
                    <div class="field">
                        <div class="buttons">
                            <button type="submit" class="button is-info" (click)="onSubmit()">Registrarse</button>
                            <button class="button is-success" (click)="goToLogin()">Ir a login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footerContainer">
        <app-footer></app-footer>
    </div>
</div>