$lightFont: avenirLight;
$mediumFont: avenirMedium;
$blackFont: avenirBlack;
$fontColor: #000000;
$activeFontColor: #6ca7b6;
$backgroundColor: #f0f5fa;
$cardsBGColor: white;
$successMessage: #03d755;
$failureMessage: #dd3444;
$titleSize: 150px;
$subtitleSize: 43px;
$cardsFontSize: 30px;
$categoryCardFontSize: 23.7px;
$navbarFontSize: 15px;
$footerFontSize: 12px;
$borderRadiusCards: 32px;

@font-face {
    font-family: avenirLight;
    src: url(/assets/fonts/avenir-lt-35-light.ttf);
}

@font-face {
    font-family: avenirMedium;
    src: url(/assets/fonts/avenir-lt-65-medium.ttf);
}

@font-face {
    font-family: avenirBlack;
    src: url(/assets/fonts/avenir-lt-std-95-black.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.registerContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: $backgroundColor;
    font-family: $mediumFont;
    color: $fontColor;
    .navBarContainer {
        width: 100%;
        height: 13.3%;
    }
    .registerFormContainer {
        width: 100%;
        height: calc(100% - 109px);
        display: flex;
        flex-flow: column;
        align-items: center;
        .registerTitle {
            margin: 25px 0 40px 0;
            font-size: $subtitleSize;
            font-family: $blackFont;
        }
        .registerForm {
            width: 50%;
            height: 72%;
            display: flex;
            flex-flow: column;
            align-items: center;
            padding: 2%;
            border-radius: $borderRadiusCards;
            background: $cardsBGColor;
            .registerMessage {
                width: 80%;
                height: 10%;
                margin-bottom: 3%;
                display: flex;
                justify-content: center;
                align-items: center;
                .successRegister {
                    width: auto;
                    padding: 1%;
                    display: none;
                    align-items: center;
                    color: $successMessage;
                    background: rgba($successMessage, 0.3);
                    border-radius: 5px;
                    border: 1px solid $successMessage;
                }
                .emailTaken {
                    width: auto;
                    padding: 1%;
                    display: none;
                    align-items: center;
                    color: $failureMessage;
                    background: rgba($failureMessage, 0.3);
                    border-radius: 5px;
                    border: 1px solid $failureMessage;
                }
            }
            .registerFields {
                width: 80%;
                form {
                    width: 100%;
                    .field {
                        .control {
                            input {
                                width: 100%;
                                padding-left: 0.5em;
                            }
                        }
                        .buttons {
                            .is-info {
                                width: 100px;
                                background: $fontColor;
                                font-family: $mediumFont;
                            }
                            .is-success {
                                width: 100px;
                                background: $activeFontColor;
                                font-family: $mediumFont;
                            }
                        }
                    }
                }
            }
        }
    }
    .footerContainer {
        width: 100%;
    }

    .is-invalid {
        border-left: solid 6px red;
        border-color: #dc3545;
    }
}
