<div class="wrapper" (scroll)="onScroll()">
    <app-navbar [active]="active"></app-navbar>
    <div class="content">
        <div class="contentWrapper" *ngFor="let shop of shops; let i = index">
            <div class="main" >
                <div class="backg" >
                    <img class="backgroundImg" [src]="shop.banner" alt="" srcset="">
                    <div class="frontinfo">
                        <div class="information">
                            <div class="logo">
                                <img [src]="shop.logo" alt="" srcset="">
                            </div>
                            <div class="companyinfo">
                                {{shop.description}}   
                            </div>
                        </div>   
                    </div>
                </div>

            </div>
            <div class="downshop">
                <div class="items">
                    <div class="typeTitle">
                        <div class="categoryTitle" [ngClass]="{ 'underline': showDiv.product }" (click)="showDiv.product = !showDiv.product; showDiv.contact = false; showDiv.product = true">
                            Productos  
                        </div>
                        <div class="categoryTitle"[ngClass]="{ 'underline': showDiv.contact }" (click)="showDiv.contact = !showDiv.contact; showDiv.product = false; showDiv.contact = true; " >
                            Contacto Directo
                        </div>
                    </div>
                        <div class="productsContainer" *ngIf="showDiv.product">
                            <div class="if" *ngIf="products.length>4 ; else loggedOut">
                                <carousel [arrows]="true" [arrowsOutside]="true" [margin]="5" [cellsToShow]="4"[height]="215">
                                    <div class="carousel-cell" *ngFor="let product of products; let i = index">
                                        <div class="productCards" >
                                        <img [src]="product.image" alt="Random first slide">
                                        <div class="overlay">
                                            {{product.name}}
                                            <div class="productInfo">{{product.description}}</div>
                                            <p>{{ product.price | currency : 'COP' : 'symbol' : '1.0-0' }} </p>
                                        </div>
                                        </div>  
                                    </div>
                                    
                                </carousel>   
                            </div>
                            <ng-template #loggedOut>
                                <div  class="if">
                                    <carousel [arrows]="false" [margin]="5" [cellsToShow]="4"[height]="215">
                                        <div class="carousel-cell" *ngFor="let product of products; let i = index">
                                            <div class="productCards" >
                                            <img [src]="product.image" alt="Random first slide">
                                            <div class="overlay">
                                                {{product.name}}
                                                <div class="productInfo">{{product.description}}</div>
                                                <p>{{ product.price | currency : 'COP' : 'symbol' : '1.0-0' }} </p>
                                            </div>
                                            </div>  
                                        </div>
                                    </carousel>
                                </div>
                            </ng-template>
                            
                        </div>
                    
                        <div class="contactContainer" *ngIf="showDiv.contact">
                            <div class="cellphone" *ngIf="shop.instagram">
                                <div class="cellphoneicon"></div>
                                <div class="cellphoneLink">
                                    {{shop.cellphoneNumber}} 
                                </div>
                            </div>
                            <div class="cellphone" *ngIf="!shop.instagram" style="display: none">

                            </div>
                            <div class="email" *ngIf="shop.email">
                                <div class="emailicon"></div>
                                <div class="emailLink">
                                    <a href="mailto:{{shop.email}}" target="_blank"> {{shop.email}}</a>
                                </div>
                            </div>
                            <div class="email" *ngIf="!shop.email" style="display: none">
                            </div>
                            <div class="web" *ngIf="shop.website" >
                                <div class="webicon"></div>
                                <div class="webLink">
                                    <a href="https://{{shop.website}}" target="_blank">{{shop.website}}</a>
                                </div>
                            </div>
                            <div class="web" *ngIf="!shop.website" style="display: none">

                            </div>
                            <div class="whatsapp" *ngIf="shop.whatsapp" >
                                <div class="whatsappicon"></div>
                                <div class="whatsappLink">
                                    <a href="https://wa.me/57{{shop.whatsapp}}" target="_blank"> {{shop.whatsapp}} </a>  
                                </div>
                            </div>
                            <div class="whatsapp" *ngIf="!shop.whatsapp" style="display: none">

                            </div>
                            <div class="instagram" *ngIf="shop.instagram">
                                <div class="instagramicon"></div>
                                <div class="instagramLink">
                                    <a href="https://www.instagram.com/{{shop.instagram}}/" target="_blank"> @{{shop.instagram}} </a>
                                </div>
                            </div>
                            <div class="instagram" *ngIf="!shop.instagram" style="display: none">

                            </div>
                            <div class="facebook" *ngIf="shop.facebook">
                                <div class="facebookicon"></div>
                                <div class="facebookLink">
                                    <a href="https://es-la.facebook.com/{{shop.facebook}}/" target="_blank"> {{shop.facebook}} </a>
                                </div>
                            </div>
                            <div class="facebook" *ngIf="!shop.facebook" style="display: none">
                                
                            </div>
                            
                        </div>
                </div>
                
            </div>
            
        </div>
        <div class="footerContainer">
            <app-footer></app-footer>
        </div>
    </div>
</div>