<div class="wrapper">

    <app-navbar [active]="active"></app-navbar>
    <div class="content">
        <div class="contentWrapper" *ngFor="let company of companies; let i = index">
            <div class="main" >
                <div class="backg" >
                    <img [src]="company.banner" alt="" srcset="">
                    <div class="frontinfo">
                        <div class="information">
                            <div class="logo">
                                <img [src]="company.logo" alt="" srcset="">
                            </div>
                            <div class="companyinfo">
                                {{company.description}}   
                            </div>
                        </div>   
                    </div>
                </div>

            </div>
            <div class="downshop">
                <div class="items">
                    <div class="typeTitle">
                        <div class="categoryTitle" (click)="showDiv.product = !showDiv.product; showDiv.contact = false">
                            Productos
                            <div *ngIf="showDiv.product">
                                <div class="underlineProduct"></div>
                            </div>    
                        </div>
                        <div class="categoryTitle" (click)="showDiv.contact = !showDiv.contact; showDiv.product = false" >
                            Contacto Directo
                            <div *ngIf="showDiv.contact">
                                <div class="underlineContact"></div>
                            </div>
                        </div>
                    </div>
                        <div class="productsContainer" *ngIf="showDiv.product">
                            <div class="productCards" *ngFor="let prod of products; let i = index">
                                <img [src]="prod.img" alt="" srcset="">
                                <div class="overlay">
                                    {{prod.name}}
                                    <div class="productInfo">{{prod.description}}</div>
                                    <p>{{ prod.price | currency : 'COP' : 'symbol' : '1.0-0' }} </p>
                                </div>
                            </div>
                        </div>
                    
                        <div class="contactContainer" *ngIf="showDiv.contact">
                            <div class="web" *ngIf="company.website" >
                                <div class="webicon"></div>
                                <div class="webLink">
                                    <a [href]="company.website" target="_blank">{{company.website}}</a>
                                </div>
                            </div>
                            <div class="web" *ngIf="!company.website" style="display: none">

                            </div>
                            <div class="whatsapp" *ngIf="company.whatsapp" >
                                <div class="whatsappicon"></div>
                                <div class="whatsappLink">
                                    <a href="https://wa.me/57{{company.whatsapp}}" target="_blank"> {{company.whatsapp}} </a>  
                                </div>
                            </div>
                            <div class="whatsapp" *ngIf="!company.whatsapp" style="display: none">

                            </div>
                            <div class="instagram" *ngIf="company.instagram">
                                <div class="instagramicon"></div>
                                <div class="instagramLink">
                                    <a href="https://www.instagram.com/{{company.instagram}}/" target="_blank"> @{{company.instagram}} </a>
                                </div>
                            </div>
                            <div class="instagram" *ngIf="!company.instagram" style="display: none">

                            </div>
                            <div class="facebook" *ngIf="company.facebook">
                                <div class="facebookicon"></div>
                                <div class="facebookLink">
                                    <a href="https://es-la.facebook.com/{{company.facebook}}/" target="_blank"> {{company.facebook}} </a>
                                </div>
                            </div>
                            <div class="facebook" *ngIf="!company.facebook" style="display: none">
                                
                            </div>
                            <div class="email" *ngIf="company.email">
                                <div class="emailicon"></div>
                                <div class="emailLink">
                                    <a href="mailto:{{company.email}}" target="_blank"> {{company.email}}</a>
                                </div>
                            </div>
                            <div class="email" *ngIf="!company.email" style="display: none">
                            </div>
                        </div>
                </div>
                
            </div>
            
        </div>
        <div class="footerContainer">
            <app-footer></app-footer>
        </div>
    </div>
</div>