<div class="advertiseContainer">
    <div class="navBarContainer">
        <app-navbar [active]="active"></app-navbar>
    </div>
    <div class="advertiseMainContainer">
        <div class="InfoAdvertiseContainer">
            <div class="titleContainer">
                ÚNETE AL CLUB.
                ÚNETE A CAVA
            </div>
            <div class="InfoContainer">
                De donde sea que vengas y a donde sea que vayas, tu sueño es lo que te mueve y tu eres nuestra inspiración. Consigue mayor visibilidad para tu empresa o emprendimiento, hazte conocer. Únete a la comunidad.
            </div>
            <div class="advertiseLink" (click)="goToRegister()">
                Anunciate aqui!
            </div>
        </div>
        <div class="photoAdvertiseContainer">
        </div>    
    </div>
    <div class="footerContainer">
        <app-footer></app-footer>
    </div>
</div>