$lightFont: avenirLight;
$mediumFont: avenirMedium;
$blackFont: avenirBlack;
$fontColor: #000000;
$activeFontColor: #6ca7b6;
$backgroundColor: #f0f5fa;
$cardsBGColor: white;
$successMessage: #03d755;
$failureMessage: #dd3444;
$titleSize: 150px;
$searchBarFontSize: 48px;
$subtitleSize: 43px;
$cardsFontSize: 30px;
$categoryCardFontSize: 23.7px;
$filterFontSize: 21px;
$infoCardFontSize: 19px;
$navbarFontSize: 15px;
$footerFontSize: 12px;
$borderRadiusCards: 32px;

@font-face {
    font-family: avenirLight;
    src: url(/assets/fonts/avenir-lt-35-light.ttf);
}

@font-face {
    font-family: avenirMedium;
    src: url(/assets/fonts/avenir-lt-65-medium.ttf);
}

@font-face {
    font-family: avenirBlack;
    src: url(/assets/fonts/avenir-lt-std-95-black.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.advertiseContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    background: $backgroundColor;
    font-family: $mediumFont;
    color: $fontColor;
    .navBarContainer {
        width: 100%;
        height: 13.3%;
    }
    .advertiseMainContainer {
        width: 76.1%;
        height: 80%;
        margin-top: 2%;
        display: flex;
        flex-flow: row;
        align-self: center;
        justify-content: space-between;
        .photoAdvertiseContainer {
            width: 50%;
            height: 100%;
        }
        .InfoAdvertiseContainer {
            width: 40%;
            height: 100%;
            .titleContainer {
                font-size: $searchBarFontSize;
                font-family: $blackFont;
                margin-top: 9%;
                .cavaLogoAdvertise {
                    width: 150px;
                    position: absolute;
                    padding: 0.9% 0 0 0.9%;
                }
            }
            .InfoContainer {
                height: 40%;
                width: 90%;
                margin-top: 13%;
                text-align: justify;
                font-family: $lightFont;
                font-size: $filterFontSize;
            }
            .field {
                .buttons {
                    .is-info {
                        width: 50%;
                        background: $fontColor;
                        font-size: $infoCardFontSize;
                    }
                }
            }
        }
    }
    .footerContainer {
        width: 100%;
        margin-top: 3%;
    }
}
