$lightFont: avenirLight;
$mediumFont: avenirMedium;
$blackFont: avenirBlack;
$fontColor: #000000;
$activeFontColor: #6ca7b6;
$backgroundColor: #f0f5fa;
$cardsBGColor: white;
$successMessage: #03d755;
$failureMessage: #dd3444;
$productCard: #edeef0;
$titleSize: 150px;
$searchBarFontSize: 48px;
$subtitleSize: 43px;
$cardsFontSize: 30px;
$categoryCardFontSize: 23.7px;
$filterFontSize: 21px;
$infoCardFontSize: 19px;
$navbarFontSize: 15px;
$footerFontSize: 12px;
$borderRadiusCards: 32px;
$maxWidth: 1200px;

@font-face {
    font-family: avenirLight;
    src: url(/assets/fonts/avenir-lt-35-light.ttf);
}

@font-face {
    font-family: avenirMedium;
    src: url(/assets/fonts/avenir-lt-65-medium.ttf);
}

@font-face {
    font-family: avenirBlack;
    src: url(/assets/fonts/avenir-lt-std-95-black.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    width: 100vw;
    background: $backgroundColor;
    justify-content: center;
}
.productsContent {
    width: 100vw;
    height: 100vh;
    max-width: $maxWidth;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    font-family: $mediumFont;
    color: $fontColor;
    .leftContainer {
        width: 20%;
        height: 100%;
        display: flex;
        flex-flow: column;
        background: $activeFontColor;
        .topBarLeftContainer {
            width: 100%;
            height: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: solid 1px $activeFontColor;
            border-bottom: solid 1px $backgroundColor;
            .navBarLogo {
                width: 68.352px;
                height: 41.0914px;
            }
        }
        .sideMenu {
            width: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
            padding: 5%;
            .sideMenuBtn {
                width: 100%;
                height: 48px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $backgroundColor;
                border-radius: 5px;
                margin-bottom: 5px;
                cursor: pointer;
                .icon {
                    position: absolute;
                    right: 0;
                    margin-right: 5%;
                    i.fas {
                        transition: transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
                    }
                }
                &.active {
                    color: $cardsBGColor;
                    background: $fontColor;
                }
            }
            .btnOptionsContainer {
                width: 100%;
                height: 60%;
                opacity: 0;
                transform: scaleY(0);
                transform-origin: top;
                transition: all 0.3s ease;
                .sideMenuInnerBtn {
                    width: 100%;
                    height: 48px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $backgroundColor;
                    border-radius: 5px;
                    margin-bottom: 5px;
                    cursor: pointer;
                    &.active {
                        color: $cardsBGColor;
                        background: #5f4bb6;
                    }
                }
            }
        }
    }
    .rightContainer {
        width: 80%;
        height: 100%;
        display: flex;
        flex-flow: column;
        background: $backgroundColor;
        border-right: solid 1px #6ca7b6;
        .topBarRightContainer {
            width: 100%;
            height: 110px;
            position: relative;
            display: flex;
            flex-flow: row;
            align-items: center;
            padding: 20px;
            background: $backgroundColor;
            border-bottom: solid 1px $activeFontColor;
            .topBarRightInfo {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .sellersTitle {
                    font-family: $blackFont;
                    font-size: $categoryCardFontSize;
                }
                .profileContainer {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    .profile {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        margin-right: 10%;
                    }
                    .sellersName {
                        font-family: $blackFont;
                        font-size: $navbarFontSize;
                    }
                    &:hover {
                        color: $activeFontColor;
                        fill: $activeFontColor;
                        text-decoration: underline;
                    }
                }
            }
            .profileOptionsContainer {
                width: 180px;
                height: 60px;
                position: absolute;
                top: 100px;
                right: 20px;
                display: flex;
                flex-flow: column;
                padding: 15px 0;
                background: $cardsBGColor;
                font-family: $lightFont;
                font-size: $filterFontSize;
                border-radius: 3px;
                box-shadow: 0 2px 5px 0 rgba(black, 0.26), 0 2px 10px 0 rgba(black, 0.16);
                transform-origin: right top;
                transform: scale(0);
                opacity: 0;
                transition: all 0.3s ease;
                .profileOptions {
                    width: 100%;
                    display: flex;
                    flex-flow: column;
                    li {
                        width: 100%;
                        height: 90%;
                        display: flex;
                        align-items: center;
                        padding: 0px 24px 0 24px;
                        cursor: pointer;
                        &:hover {
                            background: $backgroundColor;
                        }
                        .optionLine {
                            height: 65%;
                            border-left: solid 2px $fontColor;
                            .optionText {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
        .myProfileInfoContainer {
            width: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
            .myProfileTitle {
                margin: 25px 0 40px 0;
                font-size: $subtitleSize;
                font-family: $blackFont;
            }
            .myProfileForm {
                width: 90%;
                height: 385px;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                padding: 2%;
                border-radius: $borderRadiusCards;
                background: $cardsBGColor;
                .myProfileFields {
                    width: 100%;
                    margin-bottom: .5rem;
                    .productsContainer {
                        height: 100%;
                        width: 100%;
                        float: left;
                        //gap: 15px;
                        display: flex;
                        flex-flow: row;
                        align-items: center;
                        justify-content: space-evenly;
                        .if{
                            width: 100%;
                            height: 225px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            carousel {
                                width: 85%;
                                height: 100%;
                                //z-index: 1;
                                .carousel-cell {
                                    width: 225px;
                                    height: 225px;    
                                    .productCards {
                                        width: 215px;
                                        height: 215px;
                                        background-color: $productCard;
                                        border-radius: 32px;
                                        background-position: center;
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                        position: relative;
                                        img {
                                            height: 100%;
                                            display: block;
                                            width: 100%;
                                            border-radius: 32px;
                                        }
                                        &:hover {
                                            .overlay {
                                                cursor: pointer;
                                                opacity: 0.9;
                                                display: flex;
                                                flex-flow: column;
                                                justify-content: center;
                                                align-items: center;
                                                padding: 10px;
                                            }
                                        }
                                        .overlay {
                                            position: absolute;
                                            padding: 10px;
                                            top: 0;
                                            bottom: 0;
                                            left: 0;
                                            right: 0;
                                            width: 215px;
                                            height: 215px;
                                            opacity: 0;
                                            transition: 0.5s ease;
                                            display: flex;
                                            flex-flow: column;
                                            justify-content: center;
                                            align-items: center;
                                            background-color: $activeFontColor;
                                            text-align: center;
                                            font-size: 20px;
                                            font-family: $mediumFont;
                                            font-weight: bold;
                                            color: $fontColor;
                                            border-radius: 32px;
                                            //Titulo maximo 35 caracteres
                                            .productInfo {
                                                font-size: $navbarFontSize;
                                                font-family: $lightFont;
                                                font-weight: bold;
                                                color: $fontColor;
                                                width: 80%;
                                                //Maximo 100 caracteres
                                            }
                                            p {
                                                font-size: $navbarFontSize;
                                                font-family: $mediumFont;
                                                font-weight: bold;
                                                color: $fontColor;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .field {
                    .control {
                        input {
                            width: 100%;
                            padding-left: 0.5em;
                        }
                        textarea {
                            width: 100%;
                            padding-left: 0.5em;
                            padding-top: 7px;
                            height: 150px;
                            resize: none;
                        }
                    }
                    .buttons {
                        .is-info {
                            width: 100px;
                            background: $fontColor;
                            font-family: $mediumFont;
                        }
                        .is-success {
                            width: 100px;
                            background: $activeFontColor;
                            font-family: $mediumFont;
                        }
                    }
                }
            }
        }
    }
}
.is-invalid {
    border-left: solid 6px red;
    border-color: #dc3545;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
