$lightFont: avenirLight;
$mediumFont: avenirMedium;
$blackFont: avenirBlack;
$fontColor: #000000;
$activeFontColor: #6ca7b6;
$backgroundColor: #f0f5fa;
$cardsBGColor: white;
$successMessage: #03d755;
$failureMessage: #dd3444;
$titleSize: 150px;
$subtitleSize: 43px;
$cardsFontSize: 30px;
$categoryCardFontSize: 23.7px;
$filterFontSize: 21px;
$infoCardFontSize:19px;
$navbarFontSize: 15px;
$footerFontSize: 12px;
$borderRadiusCards: 32px;

@font-face {
    font-family: avenirLight;
    src: url(/assets/fonts/avenir-lt-35-light.ttf);
}

@font-face {
    font-family: avenirMedium;
    src: url(/assets/fonts/avenir-lt-65-medium.ttf);
}

@font-face {
    font-family: avenirBlack;
    src: url(/assets/fonts/avenir-lt-std-95-black.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.aboutUsContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    background: $backgroundColor;
    font-family: $mediumFont;
    color: $fontColor;
    .navBarContainer {
        width: 100%;
        height: 13.3%;
    }
    .workersContainer{
        width: 100%;
        height: calc(96.7% - 109px);
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        .workersTitle{
            margin-top: 32px;
            font-size: $subtitleSize;
            font-family: $blackFont;
        }
        .workersCardContainer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
            .workersCards{
                width: 31%;
                height: 100%;
                background-color: $backgroundColor;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: space-evenly;
                .workersPhoto{
                    background-color: $cardsBGColor;
                    width: 20vw;
                    height: 35vh;
                    border-radius: 50%;
                    margin-bottom: 30px;
                }
                .workersInfo{
                    margin-top: -15%;
                    font-size: $categoryCardFontSize;
                    font-family: $blackFont;
                    text-align: center;
                    .workersPosition{
                        font-size: $infoCardFontSize;
                        font-family: $blackFont;
                        color: $activeFontColor;
                        text-align: center;
                    }
                    .workersDescription{
                        font-size: $infoCardFontSize;
                        font-family: $lightFont;
                        color: $blackFont;
                        text-align: center;
                    }
                }
    
            }
        }
    }
    .footerContainer {
        width: 100%;
    }
}