<div class="aboutUsContainer">
    <div class="navBarContainer">
        <app-navbar [active]="active"></app-navbar>
    </div>
    <div class="workersContainer">
        <div class="workersTitle">
            Nuestro equipo
        </div>
        <div class="workersCardContainer">
            <div class="workersCards">
                <div class="workersPhoto"></div>
                <div class="workersInfo">
                    Camilo Ruiz
                    <div class="workersPosition">
                        CEO
                    </div>
                    <div class="workersDescription">
                        Investigador
                    </div>
                </div>
            </div>
            <div class="workersCards">
                <div class="workersPhoto"></div>
                <div class="workersInfo">
                    Valentina Viveros
                    <div class="workersPosition">
                        CTO
                    </div>
                    <div class="workersDescription">
                        Diseñadora y programadora Lider
                    </div>
                </div>
            </div>
            <div class="workersCards">
                <div class="workersPhoto"></div>
                <div class="workersInfo">
                    Pablo Bejarano
                    <div class="workersPosition">
                        Asesor
                    </div>
                    <div class="workersDescription">
                        Master En clase
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerContainer">
        <app-footer></app-footer>
    </div>
</div>

