<div class="wrapper">
        <app-navbar [active]="active"></app-navbar>
    <div class="content">
        <div class="workersTitle">
            NUESTRO EQUIPO
        </div>
        <div class="workersCardContainer">
            <div class="workersCards">
                <div class="workersPhoto">
                    <img src="/assets/img/ValentinaPhoto.png" alt="" srcset="">
                </div>
                <div class="workersInfo">
                    Valentina Viveros
                    <div class="workersPosition">
                        CEO
                    </div>
                    <div class="workersDescription">
                        Programadora y diseñadora.
                    </div>
                </div>
            </div>
            <div class="workersCards">
                <div class="workersPhoto">
                    <img src="" alt="" srcset="">
                </div>
                <div class="workersInfo">
                    Camilo Ruiz
                    <div class="workersPosition">
                        CTO
                    </div>
                    <div class="workersDescription">
                        Programador e investigador.
                    </div>
                </div>
            </div>
            <div class="workersCards">
                <div class="workersPhoto">
                    <img src="" alt="" srcset="">
                </div>
                <div class="workersInfo">
                    Pablo Bejarano
                    <div class="workersPosition">
                        Asesor
                    </div>
                    <div class="workersDescription">
                        MSc.
                    </div>
                </div>
            </div>
        </div>
        <div class="footerContainer">
            <app-footer></app-footer>
        </div>
    </div>
</div>

