<div class="aboutUsContainer">
    <div class="navBarContainer">
        <app-navbar [active]="active"></app-navbar>
    </div>
    <div class="contentWrapper"></div>
    <div class="footerContainer">
        <div class="footerInfo">
            <div class="line"></div>
            <div class="logoContainer" (click)="goToHome()">
                <a><img src="/assets/img/cavaNavBarLogo.svg" alt="" srcset=""></a>
            </div>
            <div class="rightsContainer">
                © CAVA. All rights reserved.
            </div>
        </div>
    </div>
</div>

