$lightFont: avenirLight;
$mediumFont: avenirMedium;
$blackFont: avenirBlack;
$fontColor: #000000;
$activeFontColor: #6CA7B6;
$backgroundColor: #F0F5FA;
$footerFontSize: 12px;

@font-face {
    font-family: avenirLight;
    src: url(/assets/fonts/avenir-lt-35-light.ttf);
}

@font-face {
    font-family: avenirMedium;
    src: url(/assets/fonts/avenir-lt-65-medium.ttf);
}

@font-face {
    font-family: avenirBlack;
    src: url(/assets/fonts/avenir-lt-std-95-black.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    //overflow-y: hidden;
}

.aboutUsContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    background: $backgroundColor;
    font-family: $mediumFont;
    .navBarContainer {
        width: 100%;
        height: 13.3%;
    }
    .contentWrapper {
        width: 100%;
        height: 86.7%;
    }
    .footerContainer{
        width: 100%;
        height: 10%;
        .footerInfo{
            height: 100%;
            width: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            .line{
                background-color: $activeFontColor;
                width: 27%;
                height: 3%;
                border-radius: 60px;
            }
            .logoContainer{
                margin-top: 6px;
                margin-bottom: 6px;
                width: 40.576px;
                height: 24.393px;
                cursor: pointer;
            }
            .rightsContainer{
                width: 25%;
                height: 7%;
                font-family: $lightFont;
                font-size: $footerFontSize;
                text-align: center;
            }
        }
    }
}