<div class="wrapper">
  <app-navbar [active]="active"></app-navbar>
    <div class="searchContent">
        <div class="searchBarWrapper">
            <div class="searchBarContainer">
                <img class="searchIcon" src="/assets/img/searchIcon.svg" alt="" srcset="">
                <input class="searchBar" type="text" placeholder="Buscar">
            </div>
        </div>
        <div class="filterContainer">
            <app-cards-filter></app-cards-filter>
        </div>
        <div class="companiesContainer">
            <app-company-card *ngFor="let company of companies; let i = index"[companyLogo]="company.companyLogo" [companyName]="company.companyName"[companyPhoto]="company.companyPhoto"></app-company-card>
        </div>
        <div class="footerContainer">
            <app-footer></app-footer>
        </div>
    </div>
</div>
