<div class="wrapper">
  <app-navbar [active]="active"></app-navbar>
    <div class="searchContent">
        <div class="searchBarWrapper">
            <div class="searchBarContainer">
                <img class="searchIcon" src="/assets/img/searchIcon.svg" alt="" srcset="">
                <input class="searchBar" type="text" placeholder="Buscar" [ngModel]="searchword"(ngModelChange)="searchThis($event)">
            </div>
        </div>
        <div class="filterContainer">
            <app-cards-filter></app-cards-filter>
        </div>
        <div class="companiesContainer">
            <app-company-card *ngFor="let shop of shops; let i = index" [shopId]="shop.id" [companyLogo]="shop.logo" [companyName]="shop.name"[companyPhoto]="shop.banner"></app-company-card>
        </div>
        <div class="footerContainer">
            <app-footer></app-footer>
        </div>
    </div>
</div>
