$lightFont: avenirLight;
$mediumFont: avenirMedium;
$blackFont: avenirBlack;
$fontColor: #000000;
$activeFontColor: #6ca7b6;
$backgroundColor: #f0f5fa;
$cardsBGColor: white;
$successMessage: #03d755;
$failureMessage: #dd3444;
$titleSize: 150px;
$searchBarFontSize: 48px;
$subtitleSize: 43px;
$cardsFontSize: 30px;
$categoryCardFontSize: 23.7px;
$filterFontSize: 21px;
$infoCardFontSize: 19px;
$navbarFontSize: 15px;
$footerFontSize: 12px;
$borderRadiusCards: 32px;

$maxWidth: 1200px;

@font-face {
    font-family: avenirLight;
    src: url(/assets/fonts/avenir-lt-35-light.ttf);
}

@font-face {
    font-family: avenirMedium;
    src: url(/assets/fonts/avenir-lt-65-medium.ttf);
}

@font-face {
    font-family: avenirBlack;
    src: url(/assets/fonts/avenir-lt-std-95-black.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    width: 100vw;
    background: $backgroundColor;
    justify-content: center;
}
.searchContent {
    width: 100vw;
    max-width: $maxWidth;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: $mediumFont;
    color: $fontColor;
    padding-top: 110px;
    app-navbar {
        width: 100%;
        height: 110px;
        position: relative;
    }
    .searchBarWrapper {
        width: 100%;
        height: 110px;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        background: $cardsBGColor;
        .searchBarContainer {
            width: 88.7%;
            height: 110px;
            display: flex;
            align-items: center;
            .searchIcon {
                width: 45px;
                height: 45px;
            }
            .searchBar {
                width: calc(100% - 65px);
                height: 110px;
                margin-left: 20px;
                font-family: $mediumFont;
                font-size: $searchBarFontSize;
                border: none;
                outline: none;
                &::placeholder {
                    color: $fontColor;
                    opacity: 1;
                }
            }
        }
    }
    .filterContainer {
        width: 76.1%;
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 25px 0;
    }
    .noResultsFound {
        display: none;
        height: 59vh;
        font-family: $blackFont;
        font-size: $categoryCardFontSize;
    }
    .companiesContainer {
        width: 76.1%;
        display: grid;
        column-gap: 12px;
        row-gap: 25px;
        grid-template-columns: repeat(2, 50%);
        app-company-card {
            width: 100%;
            height: 235px;
            cursor: pointer;
        }
    }
    .footerContainer {
        width: 100%;
        margin-top: 3%;
    }
}
